<footer id=containerfooter class=footerclass itemscope itemtype="http://schema.org/WPFooter">
    <div class=container>
        <div class=row>
        </div>
        <div class="footercredits clearfix">
            <div class="footernav clearfix">
                <ul id=menu-top-bar-footer-naviation-1 class=footermenu>
                    <li class="menu-philosophy-principles current-menu-item current_page_item menu-item-16"><a
                            href={{ "/" | relative_url }}>Philosophy &#038;
                            Principles</a></li>
                    <li class="menu-perspectives menu-item-57">
                        <a href={{ "/category/perspectives/" | relative_url }}>Perspectives</a></li>
                </ul>
            </div>
            <p>&copy; 2019 Altair Cliff Associates LLC - WordPress Theme by <a
                    href="https://www.kadencethemes.com/" target=_blank>Kadence Themes</a></p>
        </div>
    </div>
</footer>