<header class="banner headerclass" itemscope itemtype="http://schema.org/WPHeader">
    <div id=topbar class=topclass>
        <div class=container>
            <div class=row>
                <div class="col-md-6 col-sm-6 kad-topbar-left">
                    <div class="topbarmenu clearfix">
                        <ul id=menu-top-bar-footer-naviation class=sf-menu>
                            <li
                                class="menu-philosophy-principles current-menu-item current_page_item menu-item-16">
                                <a href={{ "/" | relative_url }}>Philosophy &#038;
                                    Principles</a></li>
                            <li class="menu-perspectives menu-item-57"><a
                                    href={{ "/category/perspectives/" | relative_url }}>Perspectives</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 kad-topbar-right">
                    <div id=topbar-search class=topbar-widget>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=container>
        <div class=row>
            <div class="col-md-6 clearfix kad-header-left">
                <div id=logo class=logocase>
                    <a class="brand logofont" href={{ "/" | relative_url }}>
                        Altair Cliff Associates LLC </a>
                </div>
            </div>
            <div class="col-md-6 kad-header-right">
                <nav id=nav-main class=clearfix itemscope itemtype="http://schema.org/SiteNavigationElement">
                </nav>
            </div>
        </div>
        <!-- TODO: this menu is not used yet -->
        <!-- <div id=mobile-nav-trigger class=nav-trigger>
            <button class="nav-trigger-case mobileclass collapsed" data-toggle=collapse
                data-target=.kad-nav-collapse>
                <span class=kad-navbtn><i class=icon-reorder></i></span>
                <span class=kad-menu-name>Menu</span>
            </button>
        </div>
        <div id=kad-mobile-nav class=kad-mobile-nav>
            <div class="kad-nav-inner mobileclass">
                <div class=kad-nav-collapse></div>
            </div>
        </div> -->
    </div>
    <div class="container virtue_banner_container">
        <div class=virtue_banner>
            <img alt=""
                src={{ "/uploads/2021/11/banner_long.jpg" | relative_url }} />
        </div>
    </div>
</header>